body, html {
    padding: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  #progressBarContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
  }
  
  label {
    color: white;
    font-size: 2rem;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
  
  #page_wrapper {
    width: 100%;
    height: 100vh;
  }
  
  .header {
    padding-top: 20px;
    position: fixed;
    top: 2.5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    left: calc(10px + env(safe-area-inset-left));
    right: calc(10px + env(safe-area-inset-right));
    z-index: 11;
    pointer-events: none;
    color: white;
  }
  .header .home, .header .about {
    display: flex;
    flex-flow: row;
  }
  .header .top_banner {
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 100%;
    display: flex;
    font-size: 150%;
  }
  
  #main_menu {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main_menu button {
    position: relative;
    z-index: 15;
  }
  
  #page_wrapper::-webkit-scrollbar {
    display: none;
  }
  
  #app .NavBar {
    position: absolute;
    height: 40vh;
    width: 5vw;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    margin-left: 5vw;
  }
  #app .NavBar a {
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
  }
  #app .NavBar .NavBar_Sphere {
    width: 10px; /* Adjust the width to control the size of the sphere */
    height: 10px; /* This value should be the same as the width to create a sphere */
    background-color: grey; /* Adjust the color as needed */
    border-radius: 50%; /* Make the element a circle */
  }
  #app .NavBar .NavBar_Sphere:hover {
    background-color: white;
  }
  #app .extra_info {
    bottom: 50vh;
    width: 20%;
    margin: auto;
    color: white;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 50vh;
    left: 20vw;
    z-index: 14;
  }
  #app .Chapter_Content {
    bottom: 5vh;
    width: 20%;
    margin: auto;
    color: white;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 70vh;
    right: 20vw;
    z-index: 14;
  }
  #app .Chapter_Content p {
    color: white;
    font-size: 100%;
  }
  
  h1 {
    color: white;
    font-size: 500%;
    text-transform: uppercase;
  }
  
  .webgl {
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .titleDiv {
    position: absolute;
    z-index: 1;
  }
  
  .title {
    text-transform: uppercase;
    font-size: 600%;
  }
  
  .play_button {
    font-size: 600%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
  }
  
  .content {
    justify-content: center;
    margin: 0 auto;
  }/*# sourceMappingURL=stylesheet.css.map */